<%=form_tag blogs_path, method: "post" do%>
  <%= text_field_tag :body,"" %>
  <%= submit_tag "投稿する" %>
<% end %>

<hr>

<ul class="blogs" >
  <% @blogs.each do |blog| %>
    <li class="blog">
      <p>
        <span class="body" >
          <%= blog.id %>:
          <%= link_to blog.body, blog_path(blog.id) %>
        </span>
      </p>
      <p>
        <span class="like" >
          <%= link_to 'いいね！', like_index_path(blog.id), method: :post %>:
          <%= blog.like %> |
        </span>
        <span class="comment" >
          コメント数:
          <%= blog.replies.count %> |
        </span>
        <span class="post-date">
          投稿日時:<%= blog.created_at.strftime("%Y-%m-%d %H:%M:%S") %>
        </span>
      </p>
    </li>
  <% end %>
</ul>
