<p>
  <%= link_to "戻る", blogs_path %>
</p>
<div class="blog-detail" >
  <p>
    <span class="blog-num">
      <%= @blog.id %>:
    </span>
    <span class="post-date" >
      投稿日時:<%= @blog.created_at.strftime("%Y-%m-%d %H:%M:%S") %>|
    </span>
    <span class="like">
      <%= link_to 'いいね！', like_show_path(@blog.id), method: :post %>:
      <%= @blog.like %>
    </span>
  </p>
  <p>
    <span class="blog-show">
      <%= @blog.body %>
    </span>
  </p>
</div>


<%= form_tag replies_path method: "post" do %>
  <%= text_field_tag :comment,"" %>
  <%= submit_tag "コメントする" %>
<% end %>

<hr>

<ul class="replies" >
  <%= render @replies %>
</ul>
